/*! Importação de Configurações Externas */
/** Importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,400&display=swap");

/** Importações de ícone css.gg */
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/menu.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/close.css");

/*! Configurações da página */
/** Configuração global da página */
* {
   font-family: "Roboto", Arial, Helvetica, sans-serif;
   font-size: medium;
   margin: 0px;
   padding: 0px;
}

html {
   margin: 0 auto;
   max-width: 1500px;
   min-width: 400px;
}

/** Configuração do corpo da página */
body {
   background-color: #fff6f6;
}

/** Configurações do cabeçalho da página */
/*? Configuração global do cabeçalho */
header {
   align-items: center;
   background-color: #fff6f6;
   box-shadow: 0px -3px 10px 0px #040303;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0.2rem 1rem;
   position: sticky;
   top: 0;
}

/*? Configuração da divisão da logo */
header div#logo {
   width: 20%;
}

/*? Configuração do título da página */
header div#logo h1 {
   display: none;
}

/*? Configuração da imagem na divisão da logo */
header div#logo img {
   width: 4.5rem;
}

/*? Configuração da legenda na divisão da logo */
header div#logo figcaption {
   display: none;
}

/*? Configuração da divisão do menu hambúrguer */
header div#nav-hamburguer {
   align-items: center;
   display: flex;
}

/*? Configuração do botão do menu hambúrguer */
header div#nav-hamburguer button {
   align-items: center;
   background-color: transparent;
   border-radius: 0.5rem;
   border: none;
   display: flex;
   height: 2.5rem;
   justify-content: center;
   width: 2.5rem;
}

/*? Configuração do botão do menu hambúrguer com hover */
header div#nav-hamburguer button:hover {
   background-color: #eeeded;
}

/*? Configuração do ícone do menu hambúrguer */
header div#nav-hamburguer button i {
   color: #040303;
}

/*? Configuração da divisão do menu */
header div#nav-menu {
   display: none;
   height: 100vh;
   width: 100%;
}

/*? Configuração da lista do menu */
header div#nav-menu ul {
   background-color: #fff6f6;
   height: 100%;
   list-style: none;
   width: 100%;
}

/*? Configuração dos links de lista do menu */
header div#nav-menu li a {
   border-radius: 0.5rem;
   color: #040303;
   display: block;
   font-weight: 500;
   margin: 1rem 0.75rem;
   padding: 0.5rem 1rem;
   text-decoration: none;
}

/*? Configuração dos links de lista do menu em hover */
header div#nav-menu li a:hover {
   background-color: #eeeded;
}

/** Configurações do corpo principal da página */
/*? Configuração global do corpo principal da página */
main {
   width: 100%;
}

/*? Configuração da seção home */
main div#home {
   align-items: center;
   display: flex;
   flex-direction: column;
   height: auto;
   justify-content: center;
   padding: 10rem 0rem;
}

/*? Configuração da figura da seção home */
main div#home figure {
   text-align: center;
}

/*? Configuração da imagem da seção home */
main div#home figure img {
   width: 40%;
}

/*? Configuração legenda da figura da seção home */
main div#home figure figcaption {
   display: none;
}

/*? Configuração padrão do parágrafo da seção home */
main div#home .home-data {
   display: block;
   font-style: italic;
}

/*? Configuração do título da seção home */
main div#home h2#home-title {
   font-size: 2rem;
   font-weight: 500;
   text-align: center;
}

/*? Configuração do botão do título da seção home */
main div#home h2#home-title button {
   background-color: transparent;
   border: none;
   color: #111344;
   cursor: pointer;
   font-size: 2rem;
   font-style: italic;
   font-weight: 900;
   text-decoration-thickness: 0.25rem;
   text-decoration: underline;
}

/*? Configuração do botão do título da seção home  em hover */
main div#home h2#home-title button:hover {
   color: #52154e;
}

/*? Configuração do conteúdo da seção home */
main div#home p#home-content {
   background-color: #111344;
   color: #eeeded;
   font-size: 1.5rem;
   padding: 0rem 0.5rem;
   width: 80%;
}

/*? Configuração da span no conteúdo da seção home */
main div#home p#home-content span {
   color: #353885;
   font-size: 1.5rem;
}

/*? Configuração da seção de informações acadêmicas e profissionais */
main div#informations {
   align-items: center;
   background-color: #111344;
   border-radius: 2rem 2rem 0rem 0rem;
   box-shadow: 0px 0px 20px 5px #353885;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/*? Configuração das divisões de informações */
main div#informations div {
   margin-bottom: 2rem;
}

/*? Configuração da divisão de selecionar */
main div#informations div#select-information {
   display: flex;
   justify-content: center;
}

/*? Configuração das divisões de seletores */
main div#informations div#select-information div {
   background-color: #07093b;
   border: none;
   color: #fff6f6;
   font-size: 1.5rem;
   margin: 2rem 0rem;
   padding: 1rem 2rem;
   text-align: center;
   transition: 0.25s;
   width: 30%;
}

/*? Configuração das divisões de seletores em hover */
main div#informations div#select-information div:hover {
   background-color: #353885;
   color: #eeeded;
   transition: 0.25s;
}

/*? Configuração das divisões de seletores selecionados */
main div#informations div#select-information div.selected {
   background-color: #353885;
   color: #eeeded;
   transition: 0.25s;
}

/*? Configuração da divisão de seleção acadêmica */
main div#informations div#select-information div#select-academic {
   border-radius: 1rem 0rem 0rem 1rem;
   border-right: 1px solid #111344;
}

/*? Configuração da divisão de seleção profissional */
main div#informations div#select-information div#select-professional {
   border-left: 1px solid #111344;
   border-radius: 0rem 1rem 1rem 0rem;
}

/*? Configuração da divisão de conteúdos selecionados */
main div#informations div#informations-content {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 75%;
}

/*? Configuração da divisão de imagem em conteúdos selecionados */
main div#informations div#informations-content div#informations-picture {
   width: 100%;
}

/*? Configuração da figura em conteúdos selecionados */
main div#informations div#informations-content div#informations-picture figure {
   text-align: center;
}

/*? Configuração da imagem em conteúdos selecionados */

main div#informations div#informations-content div#informations-picture img {
   border-radius: 100%;
   box-shadow: 0px 0px 20px 5px #353885;
   height: 15rem;
   object-fit: cover;
   object-position: 0rem 0rem;
   width: 15rem;
}

/*? Configuração da legenda da imagem em conteúdos selecionados */
main
   div#informations
   div#informations-content
   div#informations-picture
   figcaption {
   display: none;
}

/*? Configuração da divisão de lista de informações */
main div#informations div#informations-content div.list-of-informations {
   height: 15rem;
   text-align: justify;
   width: 100%;
}

/*? Configuração da lista na divisão de lista de informações */
main div#informations div#informations-content div.list-of-informations ul {
   list-style: none;
}

/*? Configuração do item de lista na lista da divisão de lista de informações */
main div#informations div#informations-content div.list-of-informations ul li {
   color: #fff6f6;
   font-size: 1.2rem;
   margin-bottom: 0.8rem;
}

/*? Configuração de abreviatura na divisão de lista de informações */
main
   div#informations
   div#informations-content
   div.list-of-informations
   ul
   li
   abbr {
   font-size: 1.2rem;
   font-weight: 900;
   text-decoration: none;
}

/** Configurações globais de class */
.display-none {
   display: none;
}

/** Configurações media query */
/*? Configurações para desktop */
@media (min-width: 768px) {
   /*? Divisão do hambúrguer da navbar */
   header div#nav-hamburguer {
      display: none;
   }

   /*? Menu navbar */
   header div#nav-menu {
      display: block !important;
      height: 100%;
      position: relative;
      width: 75%;
   }

   /*? Lista não ordenada do menu navbar */
   header div#nav-menu ul {
      display: flex;
      justify-content: end;
   }

   /*? Âncoras do menu navbar */
   header div#nav-menu li a {
      border-radius: 0.5rem;
      color: #040303;
      display: block;
      font-weight: 500;
      margin: 1rem 0.75rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
   }

   /*? Conteúdo da seção home */
   main div#home p#home-content {
      width: 50%;
   }

   /*? Divisão de informações selecionada */
   main div#informations div#select-information div {
      width: 15rem;
   }

   /*? Divisão de conteúdo de informações */
   main div#informations div#informations-content {
      flex-direction: row;
   }

   /*? Divisão da lista de informações */
   main div#informations div#informations-content div.list-of-informations {
      height: auto;
      text-align: left;
   }
}
